---
layout : page
---

<!-- Slider -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="assets/img/tjohnlogo-slide.jpg" alt="..." class="img img-responsive">
			<div class="carousel-caption">
			</div>
		</div>
		<div class="item">
			<img src="assets/img/classroom-girl.jpg" alt="..." class="img img-responsive">
			<div class="carousel-caption">
			</div>
		</div>
		<div class="item">
			<img src="assets/img/tjit-ground.jpg" alt="..." class="img img-responsive">
			<div class="carousel-caption">
			</div>
		</div>
	</div>
</div>

<section id="brand-title">
	<div class="container">
		<div class="row">		
			<div class="col-sm-12">
				<h1>T&nbspJohn Institute of Technology</h1>
				<h2>Quality Education With a Global Perspective</h2>
			</div>
		</div>
	</div>
</section>


<section id="mission-vision">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 objective">
				<h2>Mission</h2>
				<p>To create and nurture a learning and knowledge based environment, conducive to the pursuit of quality education which would transform a socially responsible generation to act on their professional values and beliefs.</p>
				<p>To bring about their overall personality development, fostering a caring and creative. Environment that emphasizes physical, social and intellectual development.</p>
			</div>
			<div class="col-sm-6 objective">
				<h2>Vision</h2>
				<p>To achieve excellence in delivering quality education of global standards, coupled with innovative practices using advanced technology and expertise, transforming the student community into potential global leaders with accountability to meet the societal, national and dynamic global challenges.</p>
			</div>
		</div>
	</div>
</section>


<section id="why-us">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Why Choose Us ?</h2>
				<p>Over the last few years, however, we have made strong inroads and setting an example for the nation of proactive, positive educational change. I'd like to take this opportunity to thank the very large number of faculty and management who devote their time and professional expertise towards this cause.</p>
				<a href="" class="btn btn-blue">Read More</a>
			</div>
			<div class="col-sm-6">
				<div class="row highlights">

					<div class="col-xs-4">
						<div class="highlight">
							<div class="symbol">
								<img src="assets/img/highlights/professor.png" alt="">
							</div>
							<h4>Experienced Faculties</h4>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="highlight">
							<div class="symbol">
								<img src="assets/img/highlights/mortarboard.png" alt="">
							</div>
							<h4>Popular Courses</h4>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="highlight">
							<div class="symbol">
								<img src="assets/img/highlights/briefcase.png" alt="">
							</div>
							<h4>Guarenteed Career</h4>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row achievements">
			<div class="col-sm-3 col-xs-6 achievement">
				<p class="num">250+</p>
				<p class="title">Guest Seminars</p>
			</div>
			<div class="col-sm-3 col-xs-6 achievement">
				<p class="num">25+</p>
				<p class="title">International Workshops</p>
			</div>
			<div class="col-sm-3 col-xs-6 achievement">
				<p class="num">50+</p>
				<p class="title">Experienced Faculties</p>
			</div>
			<div class="col-sm-3 col-xs-6 achievement">
				<p class="num">60+</p>
				<p class="title">Digital Classrooms</p>
			</div>
		</div>
	</div>
</section>


<!-- Faculties -->
<section id="faculties">
	<h2 class="section-head">Our Experienced Faculties</h2>
	<div class="container">
		<div class="row">
			{% for faculty in site.categories.hod %}
			<div class="col-sm-2 faculty">
				<div class="card">
					<img src="uploads/faculties/avatar.jpg" alt="">
					<h4>{{ faculty.name }}</h4>
					<p class="degree">{{ faculty.degree }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>	
</section>


<section id="courses-offered">
	<h2 class="section-head">Coures Offered</h2>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="course">
					<h3>Bachelor Of Engineering</h3>
					<p>To impart science-based engineering education to develop professional skills that will prepare the students for immediate employment and provide them with a solid foundation for further education.</p>
					<a href="bachelor-of-engineering.html">Find More</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="course">
					<h3> Master of Technology</h3>
					<p>To create among students the curiosity, the desire and the ability to keep learning throughout life. Character building in students, so as to enable them to become committed professionals.</p>
					<a href="master-of-technology.html">Find More</a>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Trusted Partners -->
<section id="trusted-partners">
	<h2 class="section-head">Career Partners</h2>
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-xs-4 partner"><img src="assets/img/partners/ibm-logo.jpg" alt=""></div>
			<div class="col-sm-2 col-xs-4 partner"><img src="assets/img/partners/hp-logo.jpg" alt=""></div>
			<div class="col-sm-2 col-xs-4 partner"><img src="assets/img/partners/microsoft-logo.jpg" alt=""></div>
			<div class="col-sm-2 col-xs-4 partner"><img src="assets/img/partners/infosys-logo.jpg" alt=""></div>
			<div class="col-sm-2 col-xs-4 partner"><img src="assets/img/partners/tcs-logo.jpg" alt=""></div>
			<div class="col-sm-2 col-xs-4 partner"><img src="assets/img/partners/guyswhocode-logo.jpg" alt=""></div>
		</div>
	</div>
</section>


<!-- Testimonials -->
<section id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">

			</div>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-4 testimonial">
						<div>
							<p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat accusantium excepturi, id dolorem quidem tenetur reprehenderit sed maxime sapiente quod!</p>
							<div class="person">
								<p class="name">Sana Anas</p>
								<p class="title">Student, BE-CS</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 testimonial">
						<div>
							<p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae totam repellendus vero, expedita enim. Consequatur voluptates corporis molestias repellendus, ullam!</p>
							<div class="person">
								<p class="name">Sana Anas</p>
								<p class="title">Student, BE-CS</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 testimonial">
						<div>
							<p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci reprehenderit neque repudiandae, soluta quisquam laborum voluptatibus asperiores illo minima?</p>
							<div class="person">
								<p class="name">Sana Anas</p>
								<p class="title">Student, BE-CS</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="recent-blogs">
	<h2 class="section-head">Recent Blog Posts</h2>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 blog">
				<article>
					<img src="assets/img/covers/cover1.jpg" alt="" class="cover">
					<div class="details">
						<h3 class="title">How to remember anything</h3>
						<p class="brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt odit fugit ab quisquam laudantium expedita, esse delectus maxime nobis facilis?</p>
						<a href="" class="readmore">Read More</a>
					</div>
				</article>
			</div>
			<div class="col-sm-4 blog">
				<article>
					<img src="assets/img/covers/cover1.jpg" alt="" class="cover">
					<div class="details">
						<h3 class="title">5 Tips for your next exam</h3>
						<p class="brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt odit fugit ab quisquam laudantium expedita, esse delectus maxime nobis facilis?</p>
						<a href="" class="readmore">Read More</a>
					</div>
				</article>
			</div>
			<div class="col-sm-4 blog">
				<article>
					<img src="assets/img/covers/cover1.jpg" alt="" class="cover">
					<div class="details">
						<h3 class="title">3 books you should read</h3>
						<p class="brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt odit fugit ab quisquam laudantium expedita, esse delectus maxime nobis facilis?</p>
						<a href="" class="readmore">Read More</a>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>


<!-- Events -->
<section id="recent-events">
	<h2 class="section-head">Upcoming Events</h2>
	<div class="container">
		<div class="row events">
			{% for event in site.categories.events %}
			<div class="col-sm-3 event">
				<div>
				<img src="/uploads/events/{% if event.image %}{{ event.image }}{% else %}mindprick-developers-meet.jpg{% endif %}" alt="">
					<div>	
						<h3 class="title">{{ event.title }}</h3>
						<p class="date">{{ event.date }}</p>
						{{ event.excerpt }}
						<a href="" class="view">View Details</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


<!-- Quick Contact -->
<section id="quick-contact">
	<div class="container">
		<form action="" method="POST">
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="" class="form-control" placeholder="Name">
				</div>
				<div class="col-sm-6">
					<input type="text" name="" class="form-control" placeholder="Email">
				</div>
				<div class="col-sm-12">
					<textarea name="" rows="5" class="form-control" placeholder="Message"></textarea>
				</div>
				<div class="col-sm-3">
					<input type="submit" value="Send" class="btn">
				</div>
			</div>
		</form>
	</div>
</section>