<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p class="title">Mission</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident laboriosam ratione maxime quaerat incidunt molestiae, iusto odio temporibus eius ipsam.</p>
			</div>
			<div class="col-sm-3">
				<p class="title">About</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sit modi explicabo illum. Modi voluptatibus iste ut minima temporibus perspiciatis?</p>
			</div>	
			<div class="col-sm-3">
				<p class="title">Socialize</p>
				<ul>
					<li><a href="">Link Here 1</a></li>
					<li><a href="">Link Here 2</a></li>
					<li><a href="">Link Here 3</a></li>
					<li><a href="">Link Here 4</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<p class="title">Contact</p>
				<p>
					Address line 1 <br>
					Address line 2 <br>
					address line 3 <br>
					PIN Number <br>
					Phone : +91-999-000-11-22
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12"><p class="text-center">Made with love by TJIT Students</p></div>
		</div>
	</div>
</footer>