<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.baseurl }}/" title="T John Institute of Technology">TJIT</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
						<li><a href="{{ site.baseurl }}/objectives.html">Objectives</a></li>
						<li><a href="{{ site.baseurl }}/founder.html">Founder</a></li>
						<li><a href="{{ site.baseurl }}/history.html">History</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{ site.baseurl }}/message-from-chairman.html">Message From Chairman</a></li>
						<li><a href="{{ site.baseurl }}/message-from-principal.html">Message From Principal</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Departments<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Under Graduate</li>
						<li><a href="{{ site.baseurl }}/cs/">Computer Science &amp; Engineering</a></li>
						<li><a href="{{ site.baseurl }}/is/">Information Science &amp; Engineering</a></li>
						<li><a href="{{ site.baseurl }}/ec/">Electronics &amp; Communication Engineering</a></li>
						<li><a href="{{ site.baseurl }}/me/">Mechanical Engineering</a></li>
						<li><a href="{{ site.baseurl }}/cv/">Civil Engineering</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Post Graduate</li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Basic Science</li>
						<li><a href="{{ site.baseurl }}/basic-science-department.html">Basic Science</a></li>
						<li><a href="{{ site.baseurl }}/library-information-centre.html">Library Information Center</a></li>
					</ul>
				</li>

				<li>
					<a href="#">Infrastructure</a>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">News<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/calendar-of-events.html">Calendar Of Events</a></li>
						<li><a href="{{ site.baseurl }}/archived-events.html">Archived Events</a></li>
						<li><a href="{{ site.baseurl }}/alumini.html">Alumni</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admissions<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/fee-structure.html">Fees Structure</a></li>
						<li><a href="{{ site.baseurl }}/apply-online.html">Apply Online</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Placement<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/placement-details.html">Placement Details</a></li>
						<li><a href="{{ site.baseurl }}/our-recruiters.html">Our Recruiters</a></li>
						<li><a href="{{ site.baseurl }}/statistics.html">Statistics</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>