/* da251c-015198-ffc857-403f4c-fafaff */
/* red-blue-yellow-gray-white */
body{
	background-color: #fafaff;
	font-size: 16px;
}

section{
	padding: 20px 0px;
}

.card{
	background-color:white;
	padding:20px;
	border-radius: 2px;
	margin:10px 0px 0px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Navbar */
nav.navbar{
	border: 0px;
	background-color: #da251c;
	border-radius: 0px;
	margin-bottom: 0px;
}
.btn-blue,.btn-red,
.btn-blue:hover,.btn-red:hover{
	color: #fff;
	border-radius: 0px;
}
.btn-blue:hover,.btn-red:hover{
	border-color: #eee;
}
.btn-blue{
	background-color: #015198;
	border-color: #015198;
}
.btn-red{
	background-color: #da251c;
	border-color: #da251c;	
}
nav.navbar .nav li a,
nav.navbar a.navbar-brand{
	color: #fff;
}
nav.navbar .nav li.active a{
	background-color: #015198;
	color: #fff;
}
nav.navbar a.navbar-brand{
	font-weight: bold;
}
nav.navbar a.navbar-brand:hover,
nav.navbar .nav li a:hover{
	color: #fff;
}
nav.navbar .nav li a:hover,
nav.navbar .nav li a:active,
nav.navbar .nav li a:focus,
nav.navbar .nav li a:visited,
nav.navbar .nav li.open>a:focus,
nav.navbar .nav li.open>a:active,
nav.navbar .nav li.open>a:active:visited
.navbar-nav > li > .dropdown-menu{
	background-color: #015198;
	color: white;
}
.navbar-nav > li > .dropdown-menu{
	margin-top: -1px;
	margin-left: -1px;
}
.navbar-nav > li > .dropdown-menu li a:hover
.navbar-nav > li > .dropdown-menu li a:focus,
.navbar-nav > li > .dropdown-menu li a:visited{
	background-color: #da251c;
}
.navbar-nav .open .dropdown-menu{
	background-color: #015198;
}
.navbar-nav .open .dropdown-menu li a{
	color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color: #fff;
	background-color: #da251c;
}

/* Footer */
footer{
	background-color: #015198;
	color: white;
	padding-top: 30px;
}
footer ul{
	padding-left:0px;
	list-style: none; 
}
footer li a,
footer li a:hover{
	color: white;
	text-decoration: none;
}
section#why-us{
	background-color: #403f4c;
	color: white;
}

section#mission-and-vision{
	color: #fff;
	background-color: #403f4c;
}

section#brand-title{
	text-align: center;
	background-color: #da251c;
	color: white;
	padding: 20px 0px;
}
section#brand-title h1{
	margin: 5px auto;
}
section#brand-title h2{
	font-size: 22px;
	font-weight: 300;
	margin-top: 0px;
}
#objectives .row:first-child{
	margin-bottom: 30px;
}
#objectives .row:not(:first-child){
	background-color: green;
}
#objectives .row:nth-child(2),
#objectives .row:nth-child(4){
	background-color: #015198;
}
#objectives .row:nth-child(3){
	background-color: #da251c;
}
#objectives .row p{
	color: #fff;
}

#objectives .objective{
	font-size: 16px;
	padding: 110px 70px;
}
#objectives .jumbo{
	padding: 0px;
}
/* Timetable */
section.time-table {
	margin-bottom: 20px;

}
/* LG */
/* Large Devices, Desktops */
@media only screen and (max-width : 1200px) {
	#objectives .objective{
		padding: 80px 40px;
	}
}

/* MD */
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#objectives .objective{
		padding: 30px 10px;
	}
}

/* SM */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#objectives .objective{
		padding: 15px 10px;
	}
}

/* XS */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}
