/* da251c-015198-ffc857-403f4c-fafaff */
/* red-blue-yellow-gray-white */
body{
	background-color: #fafaff;
}

section{
	padding: 20px 0px;
}
/* Navbar */
nav.navbar{
	border: 0px;
	background-color: #da251c;
	border-radius: 0px;
	margin-bottom: 0px;
}
.btn-blue,.btn-red,
.btn-blue:hover,.btn-red:hover{
	color: #fff;
	border-radius: 0px;
}
.btn-blue:hover,.btn-red:hover{
	border-color: #eee;
}
.btn-blue{
	background-color: #015198;
	border-color: #015198;
}
.btn-red{
	background-color: #da251c;
	border-color: #da251c;	
}
nav.navbar .nav li a,
nav.navbar a.navbar-brand{
	color: #fff;
}
nav.navbar .nav li.active a{
	background-color: #015198;
	color: #fff;
}
nav.navbar a.navbar-brand{
	font-weight: bold;
}
nav.navbar a.navbar-brand:hover,
nav.navbar .nav li a:hover{
	color: #ccc;
}
nav.navbar .nav li a:hover,
nav.navbar .nav li a:active,
nav.navbar .nav li a:focus,
nav.navbar .nav li.open>a:focus,
nav.navbar .nav li.open>a:active,
.navbar-nav > li > .dropdown-menu{
	background-color: #015198;
	color: white;
}
.navbar-nav > li > .dropdown-menu{
	margin-top: -1px;
	margin-left: -1px;
}
.navbar-nav > li > .dropdown-menu li a:hover
.navbar-nav > li > .dropdown-menu li a:focus{
	background-color: #da251c;
}
.navbar-nav .open .dropdown-menu{
	background-color: #015198;
}
.navbar-nav .open .dropdown-menu li a{
	color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color: #ccc;
	background-color: #da251c;
}

/* Footer */
footer{
	background-color: #015198;
	color: white;
	margin-top: 30px;
	padding-top: 30px;
}

section#why-us{
	background-color: #da251c;
	color: white;
}